# Ignore ALL files in ANY directory named data
data/

# Ignore ALL files in ANY directory named output
output/

# Ignore ALL files in ANY directory named pycache
__pycache__/

# Ignore ALL .env files and log files
.env
*.log
.DS_Store

# Ignore specific key files
key
key.pub

# Ignore specific project files
test.py